@import "../../../css/common.css";

.main {
    padding: 1% 13%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.div-sp-item {
    width: 100%;
    height: 200px;
    background-color: var(--color-main);
    background-position: center;
    background-size: cover;
    font-size: large;
    color:  var(--color-click);
    font-weight: bold;
}

.div-space {
    width: 8%;
    height: 5px;
    background-color: var(--color-click);
}

.title-sp-hot {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 25px;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.div-product{
    display: flex;
    flex-direction: column;
    width: 18%;
    justify-content: center;
    align-items: center;
}

.react-tabs__tab-list {
    border-bottom: unset !important;
    display: flex;
    justify-content: center;
    font-size: larger;
}
.react-tabs__tab {
    border: unset !important;
}
.react-tabs__tab--selected{
    border-bottom: 1px solid var(--color-click) !important;
}

.react-tabs__tab:focus:after{
    background: none !important;
}

.react-tabs__tab-panel--selected {
    display: flex !important;
    flex-direction: row;
    gap: 2.2%;
    flex-wrap: wrap;
}

.img-product {
    width: 100%;
    height: 200px;
    background-color: var(--color-main);
}

.div-eye-cart {
    display: flex;
    gap: 1%;
    width: 100%;
    justify-content: center;
    position: absolute;
    padding-top: 7.8%;
}

.div-icon {
    background-color: white;
    width: 2%;
    display: none;
    justify-content: center;
    color: var(--color-click);
}

.div-product:hover .div-icon {
    display: flex;
}