@import "../../../css/common.css";

.main {
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
}

.div-sp-item {
    width: 70%;
    height: 200px;
    background-color: white;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: end;
    transition: transform 0.3s ease;
    position: relative;
}

.div-sp-item:hover{
    transform: scale(0.9);
    box-shadow: 0 2px 4px #9f9b8f;
}

.div-space {
    width: 8%;
    height: 5px;
    background-color: var(--color-click);
}

.title-sp-hot {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 25px;
    gap: 20px;
    justify-content: center;
    align-items: start;
}

.react-tabs__tab-list {
    border-bottom: unset !important;
    display: flex;
    justify-content: center;
    font-size: larger;
    font-weight: bold;
    color: var(--color-click);
}
.react-tabs__tab {
    border: unset !important;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.react-tabs__tab--selected{
    border-bottom: 1px solid var(--color-click) !important;
    color: var(--color-orange) !important;
}

.react-tabs__tab:focus:after{
    background: none !important;
}

.react-tabs__tab-panel--selected {
    display: flex !important;
    flex-direction: row;
    gap: 2.2%;
    flex-wrap: wrap;
    opacity: 1;
    row-gap: 20px;
}

.react-tabs__tab-panel {
    padding: 20px;
    border: 1px solid var(--color-main);
    border-radius: 5px;
    margin-top: 10px;
    transition: opacity 0.3s ease;
  }

.react-tabs__tab-panel--enter {
    opacity: 0;
  }

.div-product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.img-product {
    width: 250px;
    height: 200px;
    transition: transform 0.3s ease;
    cursor: pointer;
    transition: background 0.5s;
}

.div-eye-cart {
    display: none;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    font-size: 25px;
    color: white;
    position: absolute;
    height: 20%;
    align-items: center;
}

.div-icon {
    display: flex;
    justify-content: center;
    height: 30px;
    width: 15%;
    align-items: center;
}

.div-icon:hover {
    transform: scale(1.1);
}

.div-eye-cart:hover .div-icon, .div-eye-cart:hover span {
    color: var(--color-orange);
}

.div-product:hover .div-eye-cart {
    display:flex;
    z-index: 99;
    background-color: #596067;
}

.div-name-price-product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div-img-icon {
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    background: #bbbcc3;
}

.sp-name-sp {
    font-size: medium;
    color: var(--color-click);
    font-weight: bold;
    background-color: var(--color-main);
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 13%;
}

.div-post {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--color-click);
}

.div-post-item {
    display: flex;
    flex-direction: column;
    width: 33%;
    transition: box-shadow 0.3s ease;
    height: 100%;
    overflow: hidden;
    gap: 20px;
}

.div-post-item:hover {
    box-shadow: 0 2px 4px var(--color-click);
}

.div-content-post {
    display: flex;
    flex-direction: column;
    font-size: large;
    width: 100%;
    justify-content: left;
    align-items: start;
    gap: 20px;
}

.post {
    display: flex;
    flex-direction: row;
    width: 80%;
    padding: 0 10% 0 10%;
    gap: 10px;
    height: 450px;
}

.div-img-post-item {
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    height: 50%;
    border-radius: 10px;
}

.img-post-item {
    width: 100%;
    display: block;
    transition: transform 0.3s ease;
}

.div-img-post-item:hover .img-post-item {
    transform: scale(1.1);
}

.div-img-post-item:hover span {
    color: var(--color-orange);
}

.div-slide {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 20px;
}

.line {
    width: 10%;
    border-bottom: 2px solid var(--color-orange);
    margin: 10px 0;
}

.div-slide-main {
    width: 100%;
    background-color: var(--color-main);
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-post-title {
    width: 80%;
    padding: 0 10% 0 10%;
    display: flex;
    flex-direction: column;
}