@import "../../../css/common.css";

.main {
    padding: 1% 13%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.div-sp-item {
    width: 100%;
    height: 200px;
    background-color: var(--color-main);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: end;
    transition: transform 0.3s ease;
}

.div-sp-item:hover{
    transform: scale(0.9);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}

.div-space {
    width: 8%;
    height: 5px;
    background-color: var(--color-click);
}

.title-sp-hot {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 25px;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.react-tabs__tab-list {
    border-bottom: unset !important;
    display: flex;
    justify-content: center;
    font-size: larger;
}
.react-tabs__tab {
    border: unset !important;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.react-tabs__tab--selected{
    border-bottom: 1px solid var(--color-click) !important;
}

.react-tabs__tab:focus:after{
    background: none !important;
}

.react-tabs__tab-panel--selected {
    display: flex !important;
    flex-direction: row;
    gap: 2.2%;
    flex-wrap: wrap;
    opacity: 1;
    row-gap: 20px;
}

.react-tabs__tab-panel {
    padding: 20px;
    border: 1px solid var(--color-main);
    border-radius: 5px;
    margin-top: 10px;
    transition: opacity 0.3s ease;
  }

.react-tabs__tab-panel--enter {
    opacity: 0;
  }

.div-product{
    display: flex;
    flex-direction: column;
    width: 18%;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.img-product {
    width: 250px;
    height: 200px;
    transition: transform 0.3s ease;
    cursor: pointer;
    background: linear-gradient(var(--color-main), var(--color-main) 50%, var(--color-click) 50%, var(--color-click));
    background-size: 100% 200%;
    transition: background 0.5s;
}

.div-eye-cart {
    display: none;
    gap: 30%;
    width: 13%;
    justify-content: center;
    font-size: 25px;
    color: var(--color-click);
    position: absolute;
}

.div-icon {
    display: flex;
    justify-content: center;
    border: 1px solid var(--color-click);
    border-radius: 50%;
    height: 30px;
    width: 15%;
    align-items: center;
    background-color: white;
}

.div-icon:hover{
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.div-product:hover .div-icon {
    display: flex;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.div-product:hover .img-product {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-position: 100% 100%;
    opacity: 0.8;
}

.div-product:hover .div-eye-cart {
    display:flex;
    z-index: 99;
}

.div-name-price-product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div-img-icon {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.sp-name-sp {
    font-size: medium;
    color: var(--color-click);
    font-weight: bold;
    background-color: var(--color-main);
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 13%;
}

.div-post {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.div-post-item {
    display: flex;
    flex-direction: row;
    width: 50%;
    gap: 20px;
    background-color: var(--color-main);
    transition: box-shadow 0.3s ease;
}
.div-post-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.div-content-post {
    display: flex;
    flex-direction: column;
    font-size: large;
    gap: 25px;
    width: 50%;
    padding: 20px;
}

.post {
    display: flex;
    flex-direction: row;
    gap: 20px;
    border: 1px solid var(--color-main);
    border-radius: 5px;
    padding: 20px;
}

.div-img-post-item {
    width: 40%;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.img-post-item {
    width: 100%;
    display: block;
    transition: transform 0.3s ease;
}

.div-img-post-item:hover .img-post-item {
    transform: scale(1.1);
}