@import "../../../css/main.css";

.post-main {
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: center;
    align-items: start;
    width: 80%;
    margin-top: 1%;
}

.div-hot-post {
    display: flex;
    flex-direction: column;
    width: 25%;
    background-color: #f3f3f3;
    padding: 2% 2% 2% 2%;
    gap: 10px;
    border-radius: 20px;
}

.div-post-main {
    display: flex;
    flex-direction: column;
    width: 65%;
}

.div-title-post {
    display: flex;
    gap: 30px;
    font-size: large;
    justify-content: left;
    align-items: center;
}

.div-post-main-list .div-post-item {
    width: 100%;
    background-color: white;
    border: 1px solid var(--color-main);
    border-radius: 20px;
}

.div-post-main-list .sp-title-content-post:hover {
    color: var(--color-click);
}

.div-hot-post-list {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.div-hot-post-list .div-post-item {
    width: 100%;
    border-bottom: 0.5px solid var(--color-click);
}
.div-hot-post-list .sp-title-content-post:hover {
    color: var(--color-click);
}

.div-hot-post-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    border-bottom: 1px solid rgb(199, 196, 196);
}

.div-hot-post-item:hover span {
    color: var(--color-orange) !important;
}

.div-post-main-list {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 4vh;
    column-gap: 4vh;
}

.grid-post-item {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}