html, body {
    padding: 0;
    margin: 0;
}

* {
    padding: 0;
    margin: 0;
}

:root {
    --color-main : #e2dfdf;
    --color-click : #109c4d;
}

.justify-content-right {
    justify-content: end;
}

.justify-content-left {
    justify-content: start;
}