html, body {
    padding: 0;
    margin: 0;
    font-size: 14px;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --color-main : #fffaf0;
    --color-click : #045541d5;
    --color-orange : #fe9614;
}

.justify-content-right {
    justify-content: end;
}

.justify-content-left {
    justify-content: start;
}