@import "../../../css/main.css";

.main-store {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    background: #f3f3f3;
}

.div-category-store {
    display: flex;
    flex-direction: column;
    width: 80%;
    border: 1px solid var(--color-main);
    border-radius: 10px;
    gap: 20px;
    height: auto;
    transition: height 15s ease;
}

.div-title-category-store {
    font-size: 20px;
    font-weight: bold;
    padding-left: 20px;
    padding-top: 10px;
    color: var(--color-click);
    gap: 4vh;
    display: flex;
    flex-direction: column;
}

.div-line-title-category-store {
    width: 20%;
    height: 0.1vh;
    background-color: var(--color-orange);
}

.div-main-category-store {
    display: flex;
    flex-direction: row;
    gap: 25px;
    row-gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}

.category-menu {
    width: 15%;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 15px 10px;
    box-sizing: border-box;
}

.main-product {
    width: 65%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding-top: 5%;
}
.ul-menu-category {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.li-menu-category {
    list-style-type: none;
    align-items: center;
    justify-content: left;
    font-size: 16px;
}